.card {
  max-width: 413px;
  position: relative;
}

.card__image {
  height: 413px;
  width: 100%;
  list-style-type: none;
  display: block;
  border-radius: 8px;
}

.card__image:hover {
  cursor: pointer;
}

.card__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.card__title {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 375px;
  -webkit-line-clamp: 1;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  margin: 12px 0 0;
  color: #212121;
}

.card__delete-btn {
  background-image: url(../images/delete.svg);
  width: 32px;
  height: 32px;
  border: none;
  background-color: transparent;
  position: absolute;
  top: 10px;
  right: 10px;
}

.card__delete-btn:hover {
  background-image: url(../images/delete-hover.svg);
  opacity: 100%;
  cursor: pointer;
}

.card__like-btn {
  background-image: url(../images/heart.svg);
  width: 23px;
  height: 20px;
  border: none;
  background-color: transparent;
  opacity: 40%;
  margin: 12px 0 0;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.card__like-btn_active {
  background-image: url(../images/like-active.svg);
  opacity: 1;
}

.card__like-btn:hover {
  opacity: 100%;
  cursor: pointer;
}

.card__like-btn_active:hover {
  opacity: 50%;
  cursor: pointer;
}

@media screen and (max-width: 627px) {
  .card__image {
    height: 288px;
    width: 288px;
  }

  .card__title {
    max-width: 260px;
    font-size: 16px;
    line-height: 1;
  }
}
