.modal {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  visibility: hidden;
  padding: 0 16px;
  opacity: 0;
  transition: opacity 0.3s ease, visibility 0.3s ease;
}

.modal_type_preview {
  padding: 0 16px;
}

.modal_is-opened {
  visibility: visible;
  opacity: 1;
}

.modal__container {
  background: #fff;
  padding: 32px 50px;
  max-width: 730px;
  width: 100%;
  position: relative;
  box-sizing: border-box;
  border-radius: 8px;
}

.modal__image-container {
  position: relative;
}

.modal__image {
  max-width: 80vw;
  max-height: 80vh;
  width: 100%;
  object-fit: cover;
  display: block;
  border-radius: 8px;
}

.modal__caption {
  color: #fff;
  background-color: #212121;
  display: inline-block;
  padding: 8px 16px;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  background-size: cover;
  border-radius: 8px;
}

.modal__close_type_preview {
  position: absolute;
  right: -52.5px;
  width: 40px;
  height: 40px;
  opacity: 40%;
  border: none;
  background-color: #fff;
  background-color: transparent;
  opacity: 1;
}

.modal__close_type_preview:hover {
  opacity: 50%;
  cursor: pointer;
}

.modal__close-btn {
  position: absolute;
  top: 32px;
  right: 50px;
  width: 40px;
  height: 40px;
  opacity: 40%;
  border: none;
  background-color: #fff;
}

.modal__close-btn:hover {
  opacity: 100%;
  cursor: pointer;
}

.modal__title {
  margin: 0 0 32px;
  font-weight: 500;
  font-size: 32px;
  line-height: 1;
}

.modal__label {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-bottom: 32px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.1;
  color: rgba(33, 33, 33, 0.7);
}

.modal__input {
  padding: 16px 12px;
  font-size: 20px;
  font-weight: 500;
  line-height: 1;
  color: #212121;
  border-radius: 8px;
  border: 1px solid rgba(33, 33, 33, 0.4);
}

.modal__input:hover {
  cursor: pointer;
  border: 1px solid rgba(33, 33, 33, 1);
}

.modal__input:focus {
  font-size: 20px;
  font-weight: 500;
  line-height: 1;
}

.modal__error {
  display: block;
  /*update color and font sizes*/
}

.modal__error_visible {
  color: rgba(255, 0, 0, 0.6);
}

.modal__input_type_error {
  border: 1px solid rgba(255, 0, 0, 0.6);
}

.modal__submit-btn {
  width: 156px;
  padding: 18px 0;
  background-color: #212121;
  border-radius: 8px;
  color: #fcf5e5;
  border: none;
  opacity: 100%;
}

.modal__submit-btn_disabled {
  background-color: rgba(33, 33, 33, 0.4);
  cursor: not-allowed;
}

.modal__submit-btn:hover {
  cursor: pointer;
  opacity: 80%;
}

@media screen and (max-width: 627px) {
  .modal {
    padding: 0;
  }
  .modal__container {
    padding: 12px;
  }

  .modal__title {
    font-size: 20px;
    margin: 10px 0 34px;
  }

  .modal__close-btn {
    top: 12px;
    right: 12px;
  }

  .modal__input {
    font-size: 16px;
    font-weight: 500;
    line-height: 16px;
  }

  .moadl__label {
    margin-bottom: 24px;
  }
  .modal__submit-btn {
    width: 100%;
  }

  .modal__close_type_preview {
    top: -48px;
    right: 0;
  }

  .modal__image {
    max-width: unset;
    width: 288px;
  }

  .modal__caption {
    font-size: 16px;
  }

  .modal_type_preview {
    padding: 0;
  }
}
