.profile {
  display: flex;
  padding: 34px 0 20px;
  border-bottom: 1px rgba(33, 33, 33, 0.4) solid;
}

.profile__avitar {
  margin-right: 20px;
  border-radius: 8px;
  height: 190px;
  width: 190px;
}

.profile__column {
  display: flex;
  flex-direction: column;
}

.profile__name {
  margin: 0 0 12px;
  font-weight: 500;
  font-size: 32px;
  line-height: 1;
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  max-width: 420px;
  color: #212121;
}

.profile__description {
  margin: 0;
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  max-width: 250px;
  color: #212121;
  opacity: 70%;
  font-weight: 500;
  font-size: 16px;
  line-height: 1;
}

.profile__edit-btn {
  margin-top: auto;
  background-color: transparent;
  border: none;
  padding: 0;
  display: flex;
  align-items: center;
  gap: 8px;
  opacity: 0.7;
  font-weight: 500;
  font-size: 16px;
  line-height: 1;
}
.profile__edit-btn:hover {
  opacity: 1;
  cursor: pointer;
}

.profile__add-btn {
  margin-top: auto;
  font-size: 16px;
  line-height: 1;
  font-weight: 500;
}

.profile__add-btn-plus {
  width: 12px;
  height: 12px;
}

.profile__add-btn {
  margin-left: auto;
  width: 149px;
  height: 52px;
  background-color: #212121;
  color: #fcf5e5;
  border-radius: 8px;
  padding: 0;
  border: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 7px;
}

.profile__add-btn:hover {
  opacity: 0.8;
  cursor: pointer;
}

@media screen and (max-width: 627px) {
  .profile {
    flex-direction: column;
    max-width: 288px;
    align-items: center;
    text-align: center;
    padding: 0;
  }

  .profile__avitar {
    margin: 20px 0 12px;
    height: 80px;
    width: 80px;
  }

  .profile__name {
    font-size: 20px;
    margin-bottom: 6px;
    max-width: 288px;
  }

  .profile__description {
    max-width: 288px;
  }

  .profile__edit-btn {
    margin: 27px auto 20px;
  }
  .profile__add-btn {
    margin: 0;
    width: 100%;
    margin-bottom: 20px;
  }
}
